/* submit.module.css */
.submit{
  background-color: #f0eded;
  padding: 50px;
}
.formContainer {
    max-width: 450px;
    margin: auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
  }
  
  .formContainer h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  .formContainer h3 {
    text-align: center;
    font-size: 16px;
    color: #888;
    margin-bottom: 20px;
  }
  
  
  .formGroup {
    margin-bottom: 15px;
  }
  
  .formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .formGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .formContainer button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .formContainer button:hover {
    background-color: #0056b3;
  }
  