/* category.module.css */
@media screen and (min-width: 451px) {
  .masterContainer{
    margin: 50px auto; /* 중앙 정렬을 위해 수정 */
    width: 90%; /* 너비 조정 */
    max-width: 1200px; /* 최대 너비 설정 */
    min-width: 900px; /* 최대 너비 설정 */
    border-radius: 20px; /* 더 둥근 테두리 */
    
    background-color: #ffffff; /* 배경색 추가 */

  }
  
  .banner{
    height: 90px;

    border-radius: 20px 20px 0 0; /* 상단 테두리만 둥글게 */
    display: flex;
    font-weight: normal;
    align-items: center;
  }
  .logo{
    width: 70px;

    align-items: center;
    justify-content: center;
  }
  .name{
    font-weight: normal;
    margin:  0 20px;
  }
  .logoBorder{
    display: flex; /* 자식 요소들을 가로로 나열하기 위해 */
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 1px solid hsl(0, 0%, 79%);
    border-radius: 50%; /* 동그라미 모양의 테두리 */
  }
  .intro {
    display: flex; /* 자식 요소들을 가로로 나열하기 위해 */
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 40px;
  }
  .slogan{
    padding: 20px 10px;
    font-size: 20px;
  }
  .recommendations {
    padding: 10px 40px; /* 내부 여백 추가 */
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(126, 126, 126, 0.4);
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  
  .item {
    width: 23%;
    height: 24%;
    margin-bottom: 20px;
    border-left: 30px;
    overflow: hidden; /* 내용이 넘칠 경우를 대비해 추가 */

  }
  
  .itemImage {
    width: 120%;

    object-fit: cover;
    object-position: center; /* 이미지를 가운데 정렬 */
    margin-left: -50%; /* 왼쪽 여백을 절반으로 줄임 */
    margin-right: -50%; /* 오른쪽 여백을 절반으로 줄임 */
    position: relative; /* 상대적 위치 설정 */
    left: 40%; /* 이미지를 가운데로 이동 */
  }
  
  
 
  
}
/* YourComponent.module.css */
@media screen and (max-width: 450px) {
  .masterContainer{
    margin: 50px auto; /* 중앙 정렬을 위해 수정 */
    width: 95%; /* 너비 조정 */
    max-width: 1200px; /* 최대 너비 설정 */

    border-radius: 20px; /* 더 둥근 테두리 */
    
    background-color: #ffffff; /* 배경색 추가 */

  }
  
  .banner{
    height: 50px;

    border-radius: 20px 20px 0 0; /* 상단 테두리만 둥글게 */
    display: flex;
    font-weight: normal;
    align-items: center;
  }
  .logo{
    width: 45px;

    align-items: center;
    justify-content: center;
  }
  .name{
    font-weight: normal;
    margin:  0 20px;
    font-size: 24px;
  }
  .logoBorder{
    display: flex; /* 자식 요소들을 가로로 나열하기 위해 */
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid hsl(0, 0%, 79%);
    border-radius: 50%; /* 동그라미 모양의 테두리 */
  }
  .intro {
    display: flex; /* 자식 요소들을 가로로 나열하기 위해 */
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center; /* 중앙 정렬 */
    margin-bottom: 30px;
  }
  .slogan{
    padding: 15px 10px;
    font-size: 16px;
  }
  .recommendations {
    padding: 10px 5px; /* 내부 여백 추가 */
    border-radius: 10px;
    box-shadow: 0px 2px 20px rgba(126, 126, 126, 0.4);
  }
  
  .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
  }
  
  .item {
    width: 23%;
    height: 24%;
    margin-bottom: 20px;
    border-left: 30px;
    overflow: hidden; /* 내용이 넘칠 경우를 대비해 추가 */

  }
  
  .itemImage {
    width: 120%;

    object-fit: cover;
    object-position: center; /* 이미지를 가운데 정렬 */
    margin-left: -50%; /* 왼쪽 여백을 절반으로 줄임 */
    margin-right: -50%; /* 오른쪽 여백을 절반으로 줄임 */
    position: relative; /* 상대적 위치 설정 */
    left: 40%; /* 이미지를 가운데로 이동 */
  }
  
  
  
}
