.imageButton{
    width: 100%;
    height: 90%;  
    overflow: hidden;
    position: relative;
    border:0;
}
.imageButton:hover{
    background-color: aliceblue;
}

.buttonImage{ 
    width: 100%;
    height:100%;
    object-fit: fill;
    transition: filter 0.2s ease-in-out; /* Add a smooth transition effect */

    /* Initial styling */
    filter: brightness(100%);
}
.buttonImage:hover{
    filter: brightness(80%);
}

/* Footer.module.css */

.footer {
    display: flex;
    justify-content: space-around;
    padding: 30px 50px;
    width: 100%;

    background-color: #ffffff; 
    
}
  
  .column {
    flex: 1;
    max-width: 300px;
    margin-right: 20px;
  }

  .column p{
    color:#ccc;
    font-weight: bold;
    font-size: 14px;
  }
  
  .title {
    font-weight: bold;
    font-size: 18px;
    color:black;
  }
  .logo{
    width: 240px;
  }
  