



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  background-color: white;
  padding: 20px;
  
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 180px;
  height: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 80%;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #D91801;
  border-radius: 5px;
  margin: 0 10px;
  background-color: white;
  width: 100%;
  max-width: 1000px;
}

.searchButton {
  background: linear-gradient(to left, #D91801, #f5af19);
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  height: 45px;
  align-items: center;
  min-width: 80px;
}

.cartUserIcons {
  display: flex;
  align-items: center;
}

.cartIcon,
.userIcon {
  font-size: 24px;
  cursor: pointer;
  margin: 14px;
  color: #D91801;
}
