
@font-face {
  font-family: 'IBMPlexSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family: 'IBMPlexSansKR-Regular';
}
@media screen and (min-width: 451px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
  }
  html{
    min-width: 800px;
  }
  .container {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    
    flex-direction: column;
    align-items: center;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 10px 20px;
  }
  .navigation-side {
    display: none;
  }
  .navigation-mobile {
    display: none;

    
  }
  .logo {
    width: 180px;
    height: auto;
  }
  
  .searchContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
    width: 80%;
    
  }
  
  .searchInput {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #D91801;
    border-radius: 3px;
    margin: 0 10px;
    background-color: white;
    width: 100%;
    max-width: 2000px;
  }
  
  a{
    text-decoration-line: none;
    
  }
  .searchButton {
    background: linear-gradient(to left, #D91801, #f5af19);
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    height: 45px;
    align-items: center;
    min-width: 80px;
  }
  
  .cartUserIcons {
    display: flex;
    align-items: center;
  }
  
  .cartIcon,
  .userIcon {
    font-size: 24px;
    cursor: pointer;
    margin: 14px;
    color: #D91801;
  }
  
  
  .navbar {
    display: flex;
    margin: 0 auto;
    width: 85%;
  }
  
  /* navigation.css */
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav-list li {
    flex: 1; /* 동일한 너비로 설정 */
    margin-right: 20px;
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 22px;
  
    transition: color 0.3s ease;
    display: block; /* inline 요소가 너비를 차지하도록 함 */
    padding: 12px; /* 내부 여백 추가 */
  }
  
  .nav-list a:hover {
    color: #ff5e00;
  }

  

  .category-dropdown {
    position: relative;
  }
  
  .category-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    order: 0;
    z-index: 10000; /* slider에 z-index 값을 추가 */
  }
  
  .category-dropdown:hover .category-menu {
    display: block;
  }
  
  .category-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .category-menu li {
    margin: 0;
    padding: 10px;
    background-color: #fff;
  }
  
  .category-menu a {
    color: black;
    text-decoration: none;
  }

  
  
  .keyword-dropdown {
    position: relative;
  }
  
  .keyword-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    order: 0;
    z-index: 2; /* slider에 z-index 값을 추가 */
  }
  
  
  .keyword-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 1020px;
  }
  
  .keyword-menu li {
    margin: 0;
    padding: 10px;
    background-color: #fff;
  }
  .keyword-menu li:hover {
    cursor: pointer;
    color: #f5af19;
  }
  
  .keyword-menu a {
    color: black;
    text-decoration: none;
  }
}


@media screen and (max-width: 450px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
  }

  .container {
    background-color: white;
  
    
    flex-direction: column;
    align-items: center;
  }
  
  .navigation{
    display: none;
  }
  .navigation-side{
   
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%; 
      padding: 8px 0px;
    
  }
  
  .navigation-mobile {
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    padding: 0px 5px;
    
  }
  .logo {
    width: 120px;
    margin-left: 65px;
    height: auto;
  }
  .mobileContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger{
    background-color: #fff;
    border: none;
    font-size: 20px;
    margin: 0 30%;
    color:black;
  }
  .searchContainer {
    align-items: center;
   
    width: 80%;
  }
  
  .searchInput {
    padding: 5px;
    font-size: 16px;
    border: 2px solid #D91801;
    border-radius: 8px;
    margin: 3%;
    background-color: white;
    width: 128%;
    display: none;
  }
  
  a{
    text-decoration-line: none;
    
  }
  .searchButton {
    display: none;
  }
  
  .cartUserIcons {
    display: flex;
    align-items: center;
  }
  
  .cartIcon,
  .userIcon {
    font-size: 20px;
    cursor: pointer;
    margin: 14px;
    color: #D91801;
  }
  .mobile{
    display: none;
  }
  
  .navbar {
    display: flex;
    margin: 0 auto;
    width: 85%;
  }
  
  /* navigation.css */
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .nav-list li {
    flex: 1; /* 동일한 너비로 설정 */
  
  }
  
  .nav-list li:last-child {
    margin-right: 0;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #222;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    transition: color 0.3s ease;
    display: block; /* inline 요소가 너비를 차지하도록 함 */
    padding: 10px 0px; /* 내부 여백 추가 */
    
  }
  
  .nav-list a:hover {
    color: #ff5e00;
  }

  
  
  .category-dropdown {
    position: relative;
  }
  
  .category-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    order: 0;
    z-index: 10000; /* slider에 z-index 값을 추가 */
  }
  
  .category-dropdown:hover .category-menu {
    display: block;
  }
  
  .category-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .category-menu li {
    margin: 0;
    padding: 10px;
    background-color: #fff;
  }
  
  .category-menu a {
    color: black;
    text-decoration: none;
  }

  
  
  .keyword-dropdown {
    position: relative;
  }
  
  .keyword-menu {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    order: 0;
    z-index: 2; /* slider에 z-index 값을 추가 */
  }
  
  
  .keyword-menu ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    width: 1020px;
  }
  
  .keyword-menu li {
    margin: 0;
    padding: 10px;
    background-color: #fff;
  }
  .keyword-menu li:hover {
    cursor: pointer;
    color: #f5af19;
  }
  
  .keyword-menu a {
    color: black;
    text-decoration: none;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* 사이드 메뉴의 초기 위치 */
    width: 250px; /* 사이드 메뉴의 너비 */
    height: 100%;
    background-color: #fff;
    transition: all 0.3s ease; /* 사이드 메뉴가 열리고 닫히는 애니메이션 효과 */
    z-index: 2;
  }
  
  .sidebar.open {
    left: 0; /* 사이드 메뉴가 열린 상태일 때의 위치 */
  }
  .sidebar-overlay {
    position: fixed;
    left: -500px; /* 사이드 메뉴의 초기 위치 */
    width: 500px; /* 사이드 메뉴의 너비 */
    top:0;
    height: 100%;
    background-color: #00000044;
  
    z-index: 10000;
  }
  
  .sidebar-overlay.open {
    left: 0; /* 사이드 메뉴가 열린 상태일 때의 위치 */
  }

  .delBtn.open{
    font-size: 30px;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
  }


  
/* 사이드바 네비게이션 스타일 */
.sidebar-nav {
  padding: 20px;
  background-color: #ffffff; /* 배경색 변경 */
  border-radius: 8px; /* 테두리 둥글게 */

}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
}

.sidebar-nav ul li {
  margin: 15px 0;
}

.sidebar-nav ul li a {
  color: #555; /* 글자 색상 변경 */
  text-decoration: none;
  font-size: 16px;
  font-weight: 500; /* 글꼴 두껍게 */
  transition: color 0.3s; /* 색상 전환 효과 */
}

.sidebar-nav ul li a:hover {
  color: #007bff; /* 호버 시 색상 변경 */
}

/* 카테고리 메뉴 스타일 */
.sidebar-nav ul li.category {
  cursor: pointer;
  position: relative;
}
.icon{
  width: 20px;
  margin:  0 10px 0 0;
}

.listContainer{
  display: flex;

}

.listContainer:hover{

  color: #000;
}
.sidebar-nav ul li.category .submenu {
  display: none;

  top: calc(100% + 10px); /* 상위 요소 아래에 위치하되 여백 추가 */
  left: 0;
  background-color: #ffffff;
  font-size: 13px;
 
  z-index: 1;
}

.sidebar-nav ul li.category:hover .submenu {
  display: block;
}

.sidebar-nav ul li.category a {
  display: flex;
  align-items: center;
}

.sidebar-nav ul li.category .fa-chevron-down,
.sidebar-nav ul li.category .fa-chevron-up {
  margin-left: auto;
  color: #666; /* 아이콘 색상 변경 */
}

.sidebar-nav ul li.category .submenu li {
  padding: 5px 20px; /* 여백 추가 */
  font-size: 10px;
}

.sidebar-nav ul li.category .submenu li a {
  color: #555; /* 하위 메뉴 글자 색상 변경 */
}

/* 구분선 스타일 */
.sidebar-nav ul li.divider {
  border-bottom: 1px solid #e1e1e1; /* 구분선 색상 변경 */
  margin: 10px 0;
}

  .category{
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
}