/* page.module.css */
.container {
  background-color: white;
  padding: 20px;
  
  flex-direction: column;
  align-items: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 180px;
  height: auto;
}

.searchContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
  width: 80%;
}

.searchInput {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #D91801;
  border-radius: 5px;
  margin: 0 10px;
  background-color: white;
  width: 100%;
  max-width: 1000px;
}

.searchButton {
  background: linear-gradient(to left, #D91801, #f5af19);
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  height: 45px;
  align-items: center;
  min-width: 80px;
}

.cartUserIcons {
  display: flex;
  align-items: center;
}

.cartIcon,
.userIcon {
  font-size: 24px;
  cursor: pointer;
  margin: 14px;
  color: #D91801;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 20px 0;
  
}

.imageSlider {
  display: flex;
  transition: transform 0.5s;
  width: 100%;
  margin-bottom: 20px;
}

.sliderImage {
  width: 100%;
  height: 400px;
  flex: 0 0 auto;
  object-fit: cover;
}

.leftArrow,
.rightArrow {
  font-size: 24px;
  cursor: pointer;
  color: #D91801;
  position: absolute;
  top: 50%;
  padding: 10px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.4);
}

.rightArrow {
  right: 0;
}

.categoryTitle {
  margin-bottom: 20px;

  font-size: 35px;
  font-weight: bold;
  
}.categorySub {
  margin-bottom: 10px;

  font-size: 20px;

  
}

.imageButtonGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  align-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.largeButton {
  width: 100%;
  height: 535px;
  background-color: lightcoral;
  grid-row: span 2;
  border: 0;
}

.smallButton {
  width: 100%;
  height: 300px;
  background-color: lightblue;
}

.re_largeButton {
  width: 100%;
  height: 500px;
  background-color: rgba(255, 255, 255, 0);
  grid-row: span 2;
  margin: 50px;
  border: 0px;
  
}

.re_smallButton {
  width: 70%;
  height: 180px;
  background-image:url('../public/nack.jpg');
  background-size: cover; /* 배경 이미지 크기 조절 */
  margin:  40px 20px 0px 0px;
}

.artisanButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  width: 100%;

  margin: 0 auto;
  background-image:url('../public/pro.jpg');
  border-radius: 50px;
  background-size: cover; /* 배경 이미지 크기 조절 */
}

.recommend_title{
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}.recommend_price{
  color: #fff;
  
  font-size: 17px;
}
/* Add more styles as needed */
