.title{
    margin: 30px auto;
    width: 80%;
  }
  .basketContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    border: #d6d6d6 1px solid;
  }
  
  .productTable {
    width: 100%;
    border-collapse: collapse;
   
  }
  .productImage {
    width: 100px;
   
  }
  
  .productTable th,
  .productTable td {
    padding: 5px;
    text-align: left;
   
  }
  
  .productTable th {
    background-color: #ffffff;
  }
  
  .headerRow {
    display: flex;
    
    justify-content: start;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .headerRow div{
    margin-left: 60px;
  }
  
  .headerRow div{
    margin-left: 60px;
  }
  
  .productContainer {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .productCard img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    
    margin-right: 60px;
  }

  .productCard td p {
font-size: 20px;
  }
  
  .productDetails {
    display: flex;
  
  }
  
  .productDetails h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #333;
    margin-right: 60px;
    
  }
  
  .productDetails p {
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin: 5px 0;
    margin-right: 60px;
  }
  
  /* basket.module.css */
  
  /* 기존 스타일은 그대로 두고 아래의 스타일을 추가합니다. */
  
  .checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #d97401;
    appearance: none;
    outline: none;
    cursor: pointer;
    position: relative;
  }
  
  .checkbox::before {
    content: '\2713';
    font-size: 16px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .checkbox:checked::before {
    opacity: 1;
  }
  
  .checkbox:checked {
    background-color: #d97401;
    border: 1px solid #d97401;
  }
  
  .checkbox:hover {
    background-color: #d97401;
    border: 1px solid #d97401;
  }
  
  /* 이전 스타일은 그대로 두고 아래의 스타일을 추가합니다. */
 
  .productCard td {
    text-align: center;
    width: 40%;
  }
  
  /* 나머지 스타일은 그대로 둡니다. */
  
  
  .totalPrice {
    margin-top: 20px auto;
    text-align: right;
    font-size: 26px;
    font-weight: bold;
    color: red;
    width: 90%;
  }
  .productTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .productTable th{
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .productTable th {
    background-color: #fff;
  }
  /* 이전 스타일은 그대로 두고 아래의 스타일을 추가합니다. */

  
  .productCard td:first-child {
    text-align: center; /* 가로 중앙 정렬을 추가합니다. */
  }
  
  
  
  .quantityControl {
    display: flex;
    align-items: center;
  
  }
  
  .quantityControl button {
    width: 40px;
    padding: 5px 10px;
    font-size: 30px;
    background-color: #fff;
    color: #868686;
    border: 1px solid #868686;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
  }
  
  .quantityControl button:hover {
    background-color: #fff;
  }
  
  .quantityControl span {
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
  }
  
  /* 이전 스타일은 그대로 두고 아래의 스타일을 추가합니다. */
  .productTable th:last-child,
  .productTable td:last-child {
    text-align: center;
    width: 10px;
  }
  
  .productTable th:nth-child(4),
  .productTable td:nth-child(4) {
    text-align: center;
    
  }
  
  .productTable th:nth-child(5),
  .productTable td:nth-child(5) {
    text-align: center;
  }
  
  .productTable tr{
    border: 1px #ddd dotted;
    border-collapse: collapse;
  }
  
  .addToCartButton {
    background-color: #fff;
    color: grey;
    width: 49%;
    padding: 15px 15px;
    font-size: 35px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    border: 1px grey solid;
    margin-right: 2%;
    
  }
  
  .addToCartButton:hover {
    background-color: #e4e4e4;
  }
  .quantityInput{
    width: 80px;
    height: 60px;
    text-align: center;
    font-size: 24px;
  }
  .BuyButton {
    background-color: #f0571b;
    color: #fff;
    width: 49%;
    padding: 15px 15px;
    right: 0;
    font-size: 35px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }
  
  .BuyButton:hover {
    background-color: #cf4b17;
  }
  .deleteButton{
    padding: 10px 15px;
    font-size: 20px;
    background-color: #f0571b;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
  }
  
  .Buttons{
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding-top: 100px;
  }

  /* order.module.css */

.title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .orderContainer {
    width: 100%;
    overflow-x: auto;
  }
  
  .orderTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orderTable th,
  .orderTable td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  .orderTable th {
    background-color: #f2f2f2;
  }
  
  .orderRow:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .cancelButton {
    background-color: #ff6666;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cancelButton:hover {
    background-color: #ff4d4d;
  }

    
  .accessButton {
    background-color: #66baff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .accessButton:hover {
    background-color: #569dd6;
  }

  .detailBtn{
    background-color: #ffffff;
    color: #333;
    border: none;
  
    border-radius: 4px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .detailBtn:hover {
    background-color: #dfdfdf;
  }
  
    
  .detailTable {
    width: 900px;
    border-collapse: collapse;
  }
  