/* products.module.css */

.productDetailContainer {
    display: flex;
    width: 1300px;
    padding-top: 100px;
    margin: 100px auto;
  }
  
  .productImage {
    flex: 1;
 
  }
  
  .productImage img {
    width: 600px;
    object-fit: cover;
    height: 600px;
  }
  
  .productDetails {
    flex: 1;
    padding: 35px 35px;
    box-sizing: border-box;
    
  }
  
  .productInfo h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }
  
  .productInfo p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .productInfo span{
    font-size: 22px;
    font-weight: bold;
    color: #aaa;
  }
  
  .productOptions {
    margin-top: 20px;
  }
  
  .dropdown {
    margin-bottom: 15px;
  }

  .activeLink {
    text-decoration: none;
    text-align: center;
    color: #222;
    font-weight: bold;
    font-size: 22px;
    border-bottom: #222 3px solid;
    transition: color 0.3s ease;
    display: block; /* inline 요소가 너비를 차지하도록 함 */
    padding: 20px; /* 내부 여백 추가 */
  }

  .Link:hover{
    font-weight: bold;
    font-size: 22px;
  }
  .Link {
    text-align: center;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-size: 22px;
  
    transition: color 0.3s ease;
    display: block; /* inline 요소가 너비를 차지하도록 함 */
    padding: 20px; /* 내부 여백 추가 */
  }
  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navList li {
    flex: 1; /* 동일한 너비로 설정 */
    margin-right: 20px;
  }
  
  .navList li:last-child {
    margin-right: 0;
  }
  
 

  .productOptions label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .productOptions select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }
  
  .price {
    font-size: 30px;
    margin-bottom: 15px;
    color: #d14d18;
    font-weight: 600;
    text-align: right;
  }
  
 .addToCartButton {
    background-color: #fff;
    color: grey;
    width: 48%;
    padding: 10px 15px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    border: 1px grey solid;
    margin-right: 15px;
    
  }
  
  .addToCartButton:hover {
    background-color: #e4e4e4;
  }
  
  .BuyButton {
    background-color: #f0571b;
    color: #fff;
    width: 49%;
    padding: 10px 15px;
    right: 0;
    font-size: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }

  .BuyButton:hover {
    background-color: #cf4b17;
  }
.detail{
  width: 80%;
  margin: 0 auto;
}
.detail img{
  width: 100%;

}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
}

.formGroup {
  margin-bottom: 20px;
}

.label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none; /* 텍스트 에어리어 크기 조절 비활성화 */
}

.button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* styles/Reviews.module.css */

/* styles/CustomStyles.module.css */

.reviewContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.reviews {
  display: grid;
  width: 720px;
  gap: 20px;
}

.review {
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  background-color: #fff;
  transition: transform 0.3s ease;
}



.review h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.maskedId {
  font-size: 0.8rem;
  color: #666;
}

.image {
  width: 700px;
  height: 500px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reviewFormContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reviewFormContainer h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.reviewFormContainer form {
  display: flex;
  flex-direction: column;
}

.reviewFormContainer label {
  font-weight: bold;
  margin-bottom: 8px;
}

.reviewFormContainer input[type="file"]{
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

}
.reviewFormContainer textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  height: 400px;
}

.reviewFormContainer button[type="submit"] {
  padding: 10px 20px;

  background-color: #f0571b;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reviewFormContainer button[type="submit"]:hover {
  background-color: #c74816;
}
.itemImg{
  width: 150px;
  height: 150px;
}
.imageContainer{
  padding-top: 50px;
  display: flex;
  gap: 10px;
  margin: 0 auto;
}