/* products.module.css */

/* 공통 스타일 */
.sliderLink {
  display: block;
  width: 100%;
  height: 100%;
}

.reviewFormContainer {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 24px;
  max-width: 500px;
  margin: 40px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 8px;
}

/* 건강 지수 스타일 */
.healthRatingContainer {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.healthRating {
  display: flex;
  align-items: center;
  position: relative; /* 툴팁 위치를 위해 추가 */
}

.appleIcon {
  font-size: 24px;
  margin-right: 4px;
}

.healthRatingValue {
  margin-left: 8px;
  font-size: 18px;
  color: #333;
}

/* '?' 버튼 스타일 */
.infoButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 8px;
  position: relative;
}

.infoButton:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* 툴팁 스타일 */
.tooltip {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* 버튼 위에 나타나도록 위치 설정 */
  left: 50%;
  margin-left: -100px; /* 툴팁을 가운데 정렬 */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%; /* 툴팁 아래쪽에 삼각형 추가 */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* 별점 스타일 */
.starRating {
  display: flex;
  gap: 8px;
}

.star {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.star:hover {
  transform: scale(1.1);
}

/* 버튼 스타일 */
.submitButton {
  background-color: #f0571b;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #d64d16;
}

/* 반응형 디자인 */
@media screen and (min-width: 451px) {
  .productDetailContainer {
    display: flex;
    width: 1300px;
    padding-top: 100px;
    margin: 100px auto;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
  }

  .productImage {
    flex: 1;
  }

  .productImage img {
    width: 600px;
    height: 600px;
    object-fit: cover;
  }

  .productDetails {
    flex: 1;
    padding: 35px 35px;
    box-sizing: border-box;
  }

  .productInfo h1 {
    font-size: 38px;
    margin-bottom: 10px;
  }

  .productTitle {
    display: flex;
    justify-content: space-between;
    color: #000;
  }

  .productInfo p {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .productInfo span {
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
  }

  .productOptions {
    margin-top: 20px;
  }

  .dropdown {
    margin-bottom: 15px;
  }

  .activeLink {
    text-decoration: none;
    text-align: center;
    color: #222;
    font-weight: bold;
    font-size: 22px;
    border-bottom: #222 3px solid;
    transition: color 0.3s ease;
    display: block;
    padding: 20px;
  }

  .Link {
    text-align: center;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-size: 22px;
    transition: color 0.3s ease;
    display: block;
    padding: 20px;
  }

  .Link:hover {
    font-weight: bold;
    font-size: 22px;
  }

  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navList li {
    flex: 1;
    margin-right: 20px;
  }

  .navList li:last-child {
    margin-right: 0;
  }

  .productOptions label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .productOptions select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .price {
    font-size: 30px;
    margin-bottom: 15px;
    color: #d14d18;
    font-weight: 600;
    text-align: right;
  }

  .addToCartButton {
    background-color: #fff;
    color: grey;
    width: 48%;
    padding: 10px 15px;
    font-size: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    border: 1px grey solid;
    margin-right: 15px;
  }

  .addToCartButton:hover {
    background-color: #e4e4e4;
  }

  .BuyButton {
    background-color: #f0571b;
    color: #fff;
    width: 49%;
    padding: 10px 15px;
    font-size: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: 500;
  }

  .BuyButton:hover {
    background-color: #cf4b17;
  }

  .deleteBtn {
    text-align: right;
    color: #888;
    cursor: pointer;
  }

  .detail {
    width: 75%;
    margin: 0 auto;
  }

  .detail img {
    width: 100%;
  }

  .imageContainer {
    display: flex;
    gap: 10px;
    margin: 0 auto;
  }

  .itemImg {
    width: 150px;
    height: 150px;
  }

  .buy {
    color: #666;
  }

  /* 리뷰 스타일 */
  .reviewContainer {
    margin: 20px 0;
  }

  .division {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .review {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(33.3333% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .reviewImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .reviewContent {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }

  .maskedId {
    font-size: 12px;
    color: #aaa;
    text-align: right;
  }

  .reviewFormContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .reviewFormContainer form {
    display: flex;
    flex-direction: column;
  }

  .reviewFormContainer input[type="file"],
  .reviewFormContainer textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
  }

  .reviewFormContainer textarea {
    height: 100px;
    resize: vertical;
  }

  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .modalContent {
    max-width: 70%;
    max-height: 70%;
    overflow-y: clip;
    position: relative;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .reviewImg {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 450px) {
  .productDetailContainer {
    width: 100%;
    margin: 0 auto;
  }

  .productImage {
    flex: 1;
  }

  .productImage img {
    width: 100%;
    object-fit: cover;
  }

  .productDetails {
    flex: 1;
    padding: 35px 35px;
    box-sizing: border-box;
  }

  .productInfo h1 {
    font-size: 30px;
    margin-bottom: 10px;
  }

  .productTitle {
    display: flex;
    justify-content: space-between;
    color: #000;
  }

  .productInfo p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .productInfo span {
    font-size: 18px;
    font-weight: bold;
    color: #aaa;
  }

  .productOptions {
    margin-top: 18px;
  }

  .dropdown {
    margin-bottom: 15px;
  }

  .menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
  }

  .activeLink {
    text-decoration: none;
    text-align: center;
    color: #222;
    font-weight: bold;
    font-size: 18px;
    border-bottom: #222 3px solid;
    transition: color 0.3s ease;
    display: block;
    padding: 15px 4px;
  }

  .Link {
    text-align: center;
    text-decoration: none;
    color: #222;
    font-weight: 500;
    font-size: 18px;
    transition: color 0.3s ease;
    display: block;
    padding: 15px 4px;
  }

  .Link:hover {
    font-weight: bold;
    font-size: 22px;
  }

  .navList {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navList li {
    flex: 1;
    margin-right: 20px;
  }

  .navList li:last-child {
    margin-right: 0;
  }

  .productOptions label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .productOptions select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
  }

  .price {
    font-size: 26px;
    margin-bottom: 15px;
    color: #d14d18;
    font-weight: 600;
    text-align: right;
  }

  .addToCartButton {
    background-color: #fff;
    color: grey;
    width: 47%;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: 600;
    border: 1px grey solid;
    margin-right: 15px;
  }

  .addToCartButton:hover {
    background-color: #e4e4e4;
  }

  .BuyButton {
    background-color: #f0571b;
    color: #fff;
    width: 47%;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-weight: 600;
  }

  .BuyButton:hover {
    background-color: #cf4b17;
  }

  .detail {
    width: 100%;
    margin: 0 auto;
  }

  .detail img {
    width: 100%;
  }

  .imageContainer {
    display: flex;
    gap: 10px;
    margin: 0 auto;
  }

  .itemImg {
    display: none;
  }

  .buy {
    color: #666;
  }

  .modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .modalContent {
    position: relative;
    max-width: 100%;
    max-height: 70%;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
  }

  .reviewImg {
    max-width: 100%;
    height: auto;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .imageModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .enlargedImage {
    max-width: 90vw;
    max-height: 90vh;
    object-fit: contain;
  }

  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
  }

  .reviewThumbnail {
    cursor: pointer;
    transition: transform 0.2s;
  }

  .reviewThumbnail:hover {
    transform: scale(1.05);
  }

  /* 리뷰 스타일 */
  .reviewContainer {
    margin: 20px 0;
  }

  .division {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .review {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(50% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .reviewImg {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .reviewContent {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
  }

  .maskedId {
    font-size: 12px;
    color: #aaa;
    text-align: right;
  }

  .reviewFormContainer h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
  }

  .reviewFormContainer form {
    display: flex;
    flex-direction: column;
  }

  .reviewFormContainer input[type="file"],
  .reviewFormContainer textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
  }

  .reviewFormContainer textarea {
    height: 100px;
    resize: vertical;
  }

  .reviewFormContainer button[type="submit"] {
    background-color: #f0571b;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }

  .reviewFormContainer button[type="submit"]:hover {
    background-color: #d64d16;
  }
}
