/* page.module.css */
.container {
    background-color: white;
    padding: 20px;
    
    flex-direction: column;
    align-items: center;
  }

  .categoryTitle {
    margin-bottom: 20px;
  
    font-size: 35px;
    font-weight: bold;
    
  }.categorySub {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    color: grey;
    
  }
  
  .masterContainer{
    margin-top: 100px;
  }




  
  .re_smallButton {
    width: 100%;
    height: 240px;
    border-radius: 5px;
    background-size: cover; /* 배경 이미지 크기 조절 */
    border: 3px solid #fff;
 
  }
  .re_container{
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    
    height:330px;
  
  }
  .artisanButtons {
    display: flex;
    background-color: #cccccc;
    padding: 60px 100px;
    width: 100%;
    height: 500px;
    margin: 0 auto;
  
    border-radius: 50px;
    background-size: cover; /* 배경 이미지 크기 조절 */
  }
  
  .recommend_title{
    color: #000;
    font-weight: bold;
    font-size: 20px;
  }.recommend_price{
    color: #000;
    
    font-size: 17px;
  }
  
  .recommend_image{
    color: #D91801;
    font-weight: bold;
    font-size: 13px;
  }
  /* Add more styles as needed */
  