.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 600px;
  }
  
  .label {
    margin-bottom: 5px;
  }
  
  .input {
    margin-bottom: 40px;
    padding: 10px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .sellerButton {
    padding: 10px;
    height: 60px;
    background:#f57c19;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 49%;
  }
  .groupBtn{
    display: flex;
  }
  .sellerButton:hover {
    background:#df7117;
  }
  .localButton {
    padding: 10px;
    height: 60px;
    width: 49%;
    background:#f57c19;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .localButton:hover {
    background:#df7117;
  }
  .google{
    padding: 30px;
    width: 450px;
    height: 150px;
  }
  .registerBtn{
    background-color: #fff;
    border: none;
    color: #aaa;
  }