@media screen and (min-width: 451px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .label {
    margin-bottom: 5px;
    color: #acacac;
  }
  .google{
    width: 100px;
  }
  
  .input {
    margin-bottom: 40px;
    padding: 10px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-color: #acacac;
    border-width: 0 0 1px;
  }

  .input:focus {
    outline: none;
  }
  
  .sellerButton {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 2px;
    background:hsl(0, 0%, 100%);
    font-weight: bold;
    color: #191919;
    border: 1px solid #828181;
    border-radius: 20px;
    cursor: pointer;
  }
  .groupBtn{
    display: flex;
    justify-content: right;
  }
  .sellerButton:hover {
    background:#d1d1d1;
  }
  .localButton {
    height: 40px;
    background:#f57c19;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .localButton:hover {
    background:#df7117;
  }

  .registerText{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #acacac;
  }
  .registerBtn{
    margin-top: 10px;
    margin-inline: 10px;
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #191919;
  }
  
  .icon_img{
    width: 100px;
    height: 100px;
    text-align: 0;
  }
  .btn_social_login {
   
    outline: 0;
    width: 80px;
    border: 1px solid #828181;
   
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
  }
  .btn_social_login:hover {
    color: 0 0 0 .2rem rgba(0,123,255,.25);
  }
  .btn_social_login_kakao {
   
    outline: 0;
    width: 80px;

    
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
  }
  .socialBox {
    display: flex;
    margin-top:50px;
    justify-content: left;
    height: 44px;
    align-items: center;
    border-radius: 20px;
    border-color: #191919;
    font-size: 14px;
    font-weight: bold;
    padding: 0 100px
  }

  .socialText {
    flex-grow: 1;
    text-align: center;
    margin-right: 44px;
  }

  .division {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 30%;
    color: #acacac;
  }
  .division::before,
  .division::after {
    content: '';
    margin-inline: 5px;
    height: 1px;
    background-color: #acacac;
    flex-grow: 1;
  }

  
}
@media screen and (max-width: 450px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 70%;
  }
  
  .label {
    margin-bottom: 5px;
    color: #acacac;
  }
  .google{
    width: 100px;
  }
  
  .input {
    margin-bottom: 40px;
    padding: 10px;
    height: 40px;
    width: 100%;
    font-size: 20px;
    border-color: #acacac;
    border-width: 0 0 1px;
  }

  .input:focus {
    outline: none;
  }
  
  .sellerButton {
    height: 40px;
    margin-top: 10px;
    margin-bottom: 2px;
    background:hsl(0, 0%, 100%);
    font-weight: bold;
    color: #191919;
    border: 1px solid #828181;
    border-radius: 20px;
    cursor: pointer;
  }
  .groupBtn{
    display: flex;
    justify-content: right;
  }
  .sellerButton:hover {
    background:#d1d1d1;
  }
  .localButton {
    height: 40px;
    background:#f57c19;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .localButton:hover {
    background:#df7117;
  }

  .registerText{
    margin-top: 10px;
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #acacac;
  }
  .registerBtn{
    margin-top: 10px;
    margin-inline: 10px;
    background-color: #fff;
    border: none;
    font-size: 14px;
    color: #191919;
  }
  
  .icon_img{
    width: 44px;
    height: 44px;
    text-align: 0;
  }
  .btn_social_login {
   
    outline: 0;
    width: 60px;
    border: 1px solid #828181;
   
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
  }
  .btn_social_login:hover {
    color: 0 0 0 .2rem rgba(0,123,255,.25);
  }
  .btn_social_login_kakao {
   
    outline: 0;
    width: 60px;

    
    border-radius: 50%;
    color: #fff;
    margin: 0 auto;
  }
  .socialBox {
    display: flex;
    margin-top:50px;
    justify-content: left;
    height: 44px;
    align-items: center;
    border-radius: 20px;
    border-color: #191919;
    font-size: 14px;
    font-weight: bold;
    padding: 0 50px
  }


  .socialText {
    flex-grow: 1;
    text-align: center;
    margin-right: 44px;
  }

  .division {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    width: 30%;
    color: #acacac;
  }
  .division::before,
  .division::after {
    content: '';
    margin-inline: 5px;
    height: 1px;
    background-color: #acacac;
    flex-grow: 1;
  }

}
