@media screen and (min-width: 451px) {
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    align-items: center;
  }
  
  .modalContent {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 550px;
    height: 750px;
    padding: 40px;
  }

  .label {
    margin-bottom: 5px;
    color: #191919;
  }
  
  .input {
    margin-bottom: 40px;
    padding: 10px;
    height: 40px;
    font-size: 20px;
    border-color: #acacac;
    border-width: 0 0 1px;
  }
  .input:focus {
    outline: none;
  }

  .idCheck{
    width: 20%;
    background:#f57c19;
    color: #fff;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  .buttonContainer{
    display: flex;
    justify-content: center;
  }

  .acceptButton{
    width: 50%;
    margin-block: 10px;
    height: 50px;
    background:#f57c19;
    color: #fff;
    border: none;
    font-size: 18px;
    align-items: center;
  }

  .cancelButton{
    width: 50%;
    height: 50px;
    border: 1px;
    border-color: #191919;
    background: #fff;
    color: #191919;
    font-size: 18px;
   
    align-items: center;
  }
}
@media screen and (max-width: 450px) {
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    align-items: center;
  }
  
  .modalContent {
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 350px;
    height: 650px;
    padding: 25px;
  }

  .label {
    margin-bottom: 5px;
    color: #191919;
  }
  
  .input {
    margin-bottom: 40px;
    padding: 10px;
    height: 35px;
    font-size: 18px;
    border-color: #acacac;
    border-width: 0 0 1px;
  }
  .input:focus {
    outline: none;
  }

  .idCheck{
    width: 20%;
    background:#f57c19;
    color: #fff;
    height: 30px;
    border: none;
    border-radius: 5px;
  }

  .buttonContainer{
    display: flex;
    justify-content: center;
  }

  .acceptButton{
    width: 50%;
    margin-block: 10px;
    height: 50px;
    background:#f57c19;
    color: #fff;
    border: none;
    font-size: 18px;
    align-items: center;
  }

  .cancelButton{
    width: 50%;
    height: 50px;
    border: 1px;
    border-color: #191919;
    background: #fff;
    color: #191919;
    font-size: 18px;
   
    align-items: center;
  }
}

