/* category.module.css */
@media screen and (min-width: 451px) {
  .sortAndScroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: #eee;
    padding:5px;
    color: #7c7c7c;
  }
  
  .sortButtons button,
  .scrollButtons button {
    padding: 10px;
    font-size: 15px;
    background-color: #eee;
    color: #7c7c7c;
    border: none;
  
    cursor: pointer;
    
  }
  .sortButtons button.activeButton,
  .scrollButtons button.activeButton {
  
    font-weight: bold;
  
    color: #ff9100;
    border: none;
  
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  
  .sortButtons button:hover,
  .scrollButtons button:hover {
  
    color: #ff9100;
  }
  
  
  
    .productContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
    }
  .productLink {
    position: relative;
  }
  
  .cartBtn {
   
    border-radius: 3px; /* 모서리를 동그랗게 만듭니다. */
    width: 100%; /* 버튼의 너비 조정 */
    height: 30px; /* 버튼의 높이 조정 */
    border: 1px solid #ccc;
    display:none;
    background-color: #fff;
    color: #888;
    font-size: 17px;
    cursor: pointer;
    /* 다른 스타일 조정이 필요하면 추가하세요 */
  }

  .cartIcon{
    font-size: 19px;
    color: #777;
  }
  .productCard button:hover {
    background-color: #e48202;
  }
    .productCard {
      text-decoration: none;
      margin: 25px;
  
      
      transition: transform 0.3s ease-in-out;
    }
    
    .productCard:hover {
      transform: scale(1.05);
    }
    
    .productCard h3 {
      font-size: 20px;
      margin-bottom: 10px;
      color: #333;
      
    }
  
    .productCard img {
      width:300px;
      height: 300px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      
    }
    
    .productCard p {
      font-size: 20px;
      font-weight: bold;
      color: red;
      margin: 5px 0;
    }
    
    .cartIcon{
      display: none;
    }
    
   
    .activeButton {
    background-color: #1d1212;
  }
  
  .caTitle{
    font-size: 36px;
    padding: 10px;
  }
  
  .dropInput{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin-right: 10px;
    border: 0;
    background-color: #eee;
    color: #7c7c7c;
    font-weight: bold;
  }
  
  /* category.module.css */
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .pageNumber {
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .activePage {
    background-color: #ff9100;
    color: #fff;
    cursor: default;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ff9100;
    border-radius: 5px;
  }
  
}
/* YourComponent.module.css */
@media screen and (max-width: 450px) {
  .sortAndScroll {
    display: flex;

    margin-bottom: 20px;
    background-color: #eee;
    padding:5px;
    flex-direction: column;
  }
  .sortButtons{
    margin: 0 auto;
  }
  .sortButtons button {
    padding: 10px;
    font-size: 16px;
    background-color: #eee;
    color: #7c7c7c;
    border: none;
    align-items: center;
    cursor: pointer;
   
    
  }
  .sortButtons button.activeButton{
  
    font-weight: bold;
  
    color: #ff9100;
    border: none;
  
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  
  .sortButtons button:hover {
  
    color: #ff9100;
  }
  
  .scrollButtons{
    margin-left: auto;
  }
  
    .productContainer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0 auto;
    }
  .productLink {
    position: relative;
  }
  
  .cartBtn {
   
    border-radius: 3px; /* 모서리를 동그랗게 만듭니다. */
    width: 100%; /* 버튼의 너비 조정 */
    height: 30px; /* 버튼의 높이 조정 */
    border: 1px solid #ccc;
    display:none;
    background-color: #fff;
    color: #888;
    font-size: 17px;
    cursor: pointer;
    /* 다른 스타일 조정이 필요하면 추가하세요 */
  }
  .productCard button:hover {
    background-color: #e48202;
  }
    .productCard {
      text-decoration: none;
      margin: 3%;
      width: 44%;
     
      transition: transform 0.3s ease-in-out;
    }
    
    .productCard:hover {
      transform: scale(1.05);
    }
    
    .productCard h3 {
      font-size: 17px;
      font-weight: 400;
      color: #333;
      width: 100%;
    }
  
    .productCard img {
      width:100%;
      height: 25vh;
      border-radius: 3px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      object-fit: cover;
    }
    
    .productCard p {
      font-size: 18px;
      font-weight: bold;
      color: black;
    }
    
  
    .cartIcon{
      font-size: 19px;
      color: #777;
    }
   
    .activeButton {
    background-color: #1d1212;
  }
  
  .caTitle{
    font-size: 36px;
    padding: 10px;
  }
  
  .dropInput{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    margin-right: 10px;
    border: 0;
    background-color: #eee;
    color: #7c7c7c;
    font-weight: bold;
   
    right: 0;
  }
  
  /* category.module.css */
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  
  .pageNumber {
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .activePage {
    background-color: #ff9100;
    color: #fff;
    cursor: default;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #ff9100;
    border-radius: 5px;
  }
  
}
