@media screen and (min-width: 451px) {
.Container{
  width: 80%;
  margin: 0 auto;
}

.caTitle{
  margin: 50px 0;
}
.img{
  width: 150px;
  border-radius: 5px;
}


/* 추가된 스타일 */
.rankContainer {
  margin: 20px;
}

.rankTable {
  width: 100%;
  border-collapse: collapse;
  
  margin: 50px auto;
}

.rankTable th, .rankTable td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  border: none;
}

.rankTable td{
  border-bottom: 1px solid #ddd;
}

.rankTable th {
  background-color: #f2f2f2;
}

.rankTable tr:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

/* 수정된 스타일 */
.productLink {
  display: flex;
  color: #000;
  align-items: center;
  text-align: center;
  font-size: 20px;
}

.productLink h3{
  margin-left: 70px;
}
.cartIcon{
  font-size: 20px;
  color: #ccc;
}
.productCard {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.productCard:hover {
  transform: scale(1.05);
}

/* 추가된 스타일 */
.cartBtn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* 추가된 스타일 */
.cartBtn:hover {
  background-color: #45a049;
}

/* 수정된 스타일 */
.productContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

/* 수정된 스타일 */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

/* 추가된 스타일 */
.pageNumber {
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
}



/* 추가된 스타일 */
.activePage {
  color: #f5af19;
  display: inline-block;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 500;
  font-size: 20px;
}

/* 추가된 스타일 */
.sortAndScroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.sortButtons{
  padding: 10px;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 8px;
  width: 80px;
  font-size: 18px;
  color: #aaa;
  font-weight: bold;
}
/* 추가된 스타일 */
.activeButton {
  background-color: #f5af19;
  color: white;
  padding: 10px;
  border: 0;
  border-radius: 8px;
  width: 80px;
  font-size: 18px;
 
  font-weight: bold;
}

/* 추가된 스타일 */
.dropInput {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* 추가된 스타일 */
.dropInput:hover {
  border-color: #4caf50;
}
.rank{
  font-weight: bold;
  font-size: 30px;
}
}

@media screen and (max-width: 450px) {
  .Container{
    width: 90%;
    margin: 0 auto;
  }
  
  .caTitle{
    margin: 10px 0;
    font-size: 28px;
  }
  .img{
    width: 80px;
    border-radius: 5px;
  }
  
 
  /* 추가된 스타일 */
  .rankContainer {
    margin: 20px;
  }
  
  .rankTable {
    width: 100%;
    border-collapse: collapse;
    
    margin: 50px auto;
  }
  
  .rankTable th, .rankTable td {
    border: 1px solid #ddd;
    font-size: 12px;
    text-align: left;
    border: none;
    padding: 2px;
  }
  
  .rankTable td{
    border-bottom: 1px solid #ddd;
  }
  
  .rankTable th {
    background-color: #f2f2f2;
  }
  .rankTable h3{
    font-size: 12px;
  }
  .rankTable tr:hover {
    background-color: #f5f5f5;
    transition: background-color 0.3s ease;
  }
  
  /* 수정된 스타일 */
  .productLink {
    display: flex;
    color: #000;
    align-items: center;
    text-align: center;
    font-size: 20px;
  }
  
  .productLink h3{
   font-size: 12px;
  }
  .cartIcon{
    font-size: 14px;
    color: #ccc;
  }
  .productCard {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  
  .productCard:hover {
    transform: scale(1.05);
  }
  
  /* 추가된 스타일 */
  .cartBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* 추가된 스타일 */
  .cartBtn:hover {
    background-color: #45a049;
  }
  
  /* 수정된 스타일 */
  .productContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* 수정된 스타일 */
  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
  }
  
  /* 추가된 스타일 */
  .pageNumber {
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 500;
  }
  
  
  
  /* 추가된 스타일 */
  .activePage {
    color: #f5af19;
    display: inline-block;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-size: 20px;
  }
  
  /* 추가된 스타일 */
  .sortAndScroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .sortButtons{
    padding: 10px;
    background-color: #f5f5f5;
    border: 0;
    border-radius: 8px;
    width: 80px;
    font-size: 18px;
    color: #aaa;
    font-weight: bold;
  }
  /* 추가된 스타일 */
  .activeButton {
    background-color: #f5af19;
    color: white;
    padding: 10px;
    border: 0;
    border-radius: 8px;
    width: 80px;
    font-size: 18px;
   
    font-weight: bold;
  }
  
  /* 추가된 스타일 */
  .dropInput {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  /* 추가된 스타일 */
  .dropInput:hover {
    border-color: #4caf50;
  }
  .rank{
    font-weight: bold;
    font-size: 20px;
  }
  }