/* seller.module.css */

.container {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
  background: linear-gradient(
    rgba(0,0,0 , 0),  /* 시작 색상: 투명한 흰색(50% 투명도) */
    rgba(0, 0, 0, 1)        /* 종료 색상: 투명한 검정(70% 투명도) */
  ), url('../../public/go.jpg') center/cover;
  filter: brightness(100%);  /* 기본 밝기 설정 */
  
}


.content {
  position: relative;
  z-index: 1;
  padding: 30px;
  color: #fff;
}

.title {
  font-size: 50px;
  margin: 100px 0;
}
.subscribeButton {
  background: linear-gradient(to left, #D91801, #f5af19);
  color: #fff;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
  cursor: pointer;
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 테두리 적용 */
  transition: background-color 0.3s ease; /* 배경색 변화에 트랜지션 효과 적용 */
}
.arrowButton
{
  background: #333;
  color: #fff;
  padding: 15px 30px;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 15px;
  cursor: pointer;
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 테두리 적용 */
  transition: background-color 0.3s ease; /* 배경색 변화에 트랜지션 효과 적용 */
}
.subscribeButton:hover,
.arrowButton:hover {
  background-color: #D91801; /* hover 시 배경색 변경 */
}

.episodeImage{
  height: 100%;
  width: 100%;
}
.description {
  font-size: 1rem;
  margin-bottom: 20px;
  width: 700px;
}

.episodeContainer {
  margin-top: 30px;
}

.episodeTitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.episodeSlider {
  display: flex;

  gap: 20px;
  transition: transform 0.3s ease; /* 추가: 슬라이드 애니메이션 효과 */
  /* 여기에 추가적인 스타일링을 원하면 여기에 추가하세요 */
}


.arrowButton {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
.episodeCard {
  flex-shrink: 0;
  width: 400px;
  height: 300px;
  background-color: #333;

  border-radius: 10px;
  /* 에피소드 카드의 스타일을 추가하세요 */
}
